img{
	max-width: 100%;
}

/* body{
	background-color: blue;
} */

h1{
	color: #00FF00;
	font-size: 60px;
}

#board{
	max-width: 640px;
	min-width: 320px;
	/* float: none; Override bootstrap */
	margin: auto;
	margin-bottom:  20px;
}

.square{
	background-color: #fff;
	border: 2px solid #000;
/*  	border-width: 2px;
 	border-style: solid;
 	border-color: black; */
 	outline: none; /* Keeps teh blue line from showing up on our squares */
 	width: 185px;
 	height: 185px;
 	font-size: 60px;
}

.square:hover{
	background-color: #ff0;
}

#message{
	font-size: 40px;
	min-height: 80px;
}

.winning-square{
	background-color: red !important;
	color: green;
}